extends base.pug
block style 
    style
      include style.css
      include info.css
block scripts
  script(src='/script.js')
block content
    h1 Choose Your Dance Style
    div.sec1
        img(src="/static/d3.jpg")
        div 
            h2 Contemporary Dance
            p We can especially recommend this dance school template to dancers and true artists. Customization capabilities of this AMP dancing template are unmatched in terms of both depth and intuitiveness.
    div.sec2
        div 
            h2 Ballet
            p It is an aesthetically clean and minimalist, highly professional and graphically refined and polished, very well structured and intuitively navigable, user and developer friendly, lightweight and extremely modern, search engine optimized and notoriously bold and communicative, visually stimulating responsive multi-concept dance studio template.
        img(src="/static/d4.jpg")
    div.sec3
        img(src="/static/d5.jpg")
        div 
            h2 Pole Dance
            p All of us know that Internet is a great place to spread the information. If you want to improve your dancing school business then it is important for you to take a look at this awesome dance studio template.
    div.sec4
        div 
            h2 Hip-Hop
            p AMP dancing template is simple for customization and usage. This theme using modern AMP technology. Dancing template is designed to satisfy the latest website requirements. It helps you to effectively manage the website speed in small screen mobile devices.
        img(src="/static/d6.jpg")        
